/* !!!!! NAVBAR !!!!! */
/* logo da navbar */
#logo_navbar{
	width: 220px;
	height: 110px;
}

/* configuração da nabar */
.navbar {
    position: relative;
  }

/* cor da navbar */
nav#navbar_topo {
	width: 100%;
	height: 130px;
	background-color: #002552;
}

/* itens da navbar */
a#item_nav {
	color: white;
}

#nav_botao {
	color: black;
	background-color: white;
}

.navbar-collapse {
    width: 100%;
}

/* itens da navbar quando o menu suspenso aparece */
.navbar-collapse.show a#item_nav {
    color: black;
	background-color: white;
}

/* !!!!! FOOTER !!!!! */
footer {
	background-color: #002552;
	color: #fff;
	font-size: 14px;
	padding: 30px 0;
  }
  
  .footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .footer-section {
	flex-basis: 30%;
	margin-bottom: 20px;
  }
  
  .footer-section.about img {
	max-width: 100%;
  }
  
  .footer-section.links ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .footer-section.links ul li {
	margin-bottom: 10px;
  }
  
  .footer-section.links ul li a {
	color: #fff;
	text-decoration: none;
  }
  
  .footer-section.icons ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .footer-section.icons ul li {
	margin-right: 10px;
  }
  
  .footer-section.icons ul li:last-child {
	margin-right: 0;
  }
  
  .footer-section.icons ul li a {
	color: #fff;
	font-size: 20px;
  }
  
  .footer-section.icons ul li a:hover {
	color: #ccc;
  }
  
  .footer-bottom {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
  }