/* PADRÃO DA PÁGINA */
body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p {
    color: black;
    font-size: 14px;
}

li {
    color: black;
    font-size: 14px;
}

/* CSS DA BARRA DE NAVEGAÇÃO */
header, .navbar {
    background-color: #002552;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 210px;
}

.navbar-brand{
    padding: 0;
    color: white;
}

.navbar-brand:hover{
    color: white;
}

#navbar-links a{
    color: white;
}

#navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* CSS DO FOOTER */